@media only screen and (max-width: 720px) {
	#lead h1 {
		font-size: 72px;
		width: 100%;
	}
	.navi li {
		display: inline-block;	
	}
	.logo {
		display: none;
	}
	.twenty {
		float: none;
		height: auto;
		width: 100%;
	}
	.eighty {
		width: 100%;
	}
	.preview-title {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255,0.15);
		opacity: 1;
		text-shadow: 0 0 5px rgba(255, 255, 255, 1);
		visibility: visible;
	}
}

/*@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	  float: left;
	}
}*/