/* .class ..... #id */
body {
	/* background-color: gray; */
	background-image: url('Images/meta_background.png');
	background-repeat: repeat;
}

.container {
	display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

.button h1{
	position: relative;
	margin: 0 auto;
	margin-top: -15px;
	width:80%;
	color: #fd69a7;
}

.title {
	display: block;
	position: relative;
	width: 100;
	margin: 0 auto;
	margin-top: -10px;
}

.title img {
	display: block;
	position: relative;
	width: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.back {
	display: block;
	position: relative;
	width: 60%;	
	background-color: white;
	margin: 0 auto; 
	margin-top: 10px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding-bottom: 300px;
}

.contact {
	display: block;
	position: relative;	
	width: 40%;
	text-align: center;
	margin: 0 auto;
	margin-top: -10px;
}

h1,h2 {
	font-family: "Dancing Script", cursive;
	color: #5a99f8;
}

p,h4,h5 {font-family: "Raleway", sans-serif;}